div .home{
/*    background-color: rebeccapurple;*/
    background-color: #f5b324;
}


.header .social a:hover:nth-of-type(1){
    color: #fff;
    border-color: aliceblue;
}

.header .social a{
/*    color: #959ba0;*/
    color: #ffd800;
/*    border:2px solid #959ba0;*/
    border: 2px solid #ffd800;
}

.header .navbars .icon-bar{
    background: #ffd800;
}

.service-figcaption p{
    color: rgba(255,255,255,0.5);
}

.service-cnctfigcaption{
    width: 100%;
}

footer .content h4:nth-of-type(2)::first-letter{
    color: #3d4348;
}


.blog-figc{
    background: #f5f5f5;
}

.blog-figc h6, .blog-figc p, .blog-figc h5{
    color: #333;
}


.main-logo img{
    transform: scale(1.5);
}

/*
#sectionHome {
    background-image: url("../images/home/background-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
*/

@media screen and (max-width: 480px){
    .home .wrapper-text{
        margin: 20vh 10vw;
    }
}

@media screen and (min-width: 992px){
   .service-cnct{
        margin-top: 10px;
    }
}


/*
@media screen and (max-width: 600px){
    #sectionHome{
        background-image: url("../images/home/MOBILE.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}
*/
